album_list:
  - shared_url: "https://picasaweb.google.com/XXXXXXXXXXXXXXXX/YYYYYYYY?authkey=ZZZZZZZZZZZZZZZZZZZZZ"
    # Available keys: year, month, day, hour, min, sec, title and ep
    # If the filename is like "20151018_2030_01_ExampleTitle.mp4", then
    title_regexp: ^(?<year>\d{4})(?<month>\d{2})(?<day>\d{2})_(?<hour>\d{2})(?<min>\d{2})_(?<ep>\d+)_(?<title>.*)\.mp4$
    time_offset: "+0900"
    output: "out/example.json"
    # Multiple albums are supported
  - shared_url: "https://picasaweb.google.com/AAAAAAAAAAAAAAAA/BBBBBBBBB?authkey=CCCCCCCCCCCCCCCCCCCCCC"
    title_regexp: ^(?<year>\d{4})(?<month>\d{2})(?<day>\d{2})_(?<hour>\d{2})(?<min>\d{2})_(?<ep>\d+)_(?<title>.*)\.mp4$
    time_offset: "+0900"
    output: "out/moreexample.json"